@import "/assets/scss/vars/var";

@media (max-width: 780px) {
  .ellipse {
    /* Group */
    position: absolute;
    width: 100px;
    height: 100;
    left: 30px;
    top: 45%;

    &__1 {
      position: absolute;
      width: 50px;
      height: 50px;
      left: 5px;
      top: 20px;
      background: $ellipseBg;
      border-radius: $borderRadius;
    }

    &__2 {
      position: absolute;
      width: 30px;
      height: 30px;
      left: 30px;
      top: 70px;
      background: $ellipseBg;
      border-radius: $borderRadius;
    }

    &__3 {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 50px;
      top: 100px;
      background: $ellipseBg;
      border-radius: $borderRadius;
    }
  }

  .chat {
    top: 45%;
    left: 65%;

    &__text {
      text-align: center;
      color: white;
      font-weight: bold;
    }
  }

  @keyframes moveEllipse {
    from {
      transform: translateX(-3px);
    }
    to {
      transform: translateX(3px);
    }
  }

  .polygon {
    clip-path: polygon(0 0, 100% 0%, 100% 55%, 0 64%);
  }
}
