.card-container {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: auto;
  left: 400px;
  right: 400px;
  height: 100%;
  padding: 100px 0 200px 0;
  margin-bottom: 100px;
}

.card {
  transition: 0.5s ease-in-out;
  border-radius: 0px;
  height: 500px;
  width: 100%;
  color: rgb(250, 250, 250);
  cursor: pointer;
  background: rgb(53, 50, 50);
  background-image: linear-gradient(
    to left top,
    #330739,
    #2c1644,
    #23214c,
    #182a52,
    #0f3255
  );

  &__img {
    object-fit: fill;
    width: 100%;
    height: 300px;
    padding: 10px 10px 0 10px;
    border-radius: 0px;
  }

  &__title {
    padding: 0px 10px 0px 10px;
    font-size: 16px;
    font-weight: bold;
  }

  &__content {
    padding: 0 10px 10px 10px;
    font-size: 13px;
  }

  &:hover {
    border-radius: 15px;
    border-left: rgb(146, 14, 75);
    border-style: solid;
    border-width: 10px;
  }
}
